<div id="categoria-container">
    <div class="cabecera-categoria">
        <h2>Categorias</h2>

        <a (click)="abrirModal(null, 'add')"><i class="fa fa-plus"></i></a>
                <div id="buscar">
            <input type="search" class="form-control" placeholder="Buscar" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
            id="searchName"/>
        </div>
        <a (click)="cerrar('add')" class="btn btn-outline-primary btn-sm tooltips"><i class="fa fa-plus fa-xs"></i></a>

    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let categoria of categorias | orderBy: 'asc':'id'  | paginate: {itemsPerPage: 10, currentPage: page}" id="tbody">
            <td>{{categoria.id}}</td>
            <td>{{categoria.nombre}}</td>
            <td>
                <a (click)="abrirModal(categoria, 'edit')">
                    <i class="fa fa-pen fa-xs"></i>
                </a>
            </td>
            <td>
                <a (click)="abrirModal(categoria, 'delete')">
                    <i class="fa fa-trash fa-xs" ></i>
                </a>
            </td>
        </tr>
    </table>


    <pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior" class="paginator">
    </pagination-controls>

    <!-- Add modal  -->
    <div id="id03" class="modal">
        <div class="modal-content">
            <span (click)="cerrar('add')" class="close">&times;</span>
            <p>Añade una nueva categoria</p>
            <form #addForm="ngForm" (ngSubmit)="onAddCategoria(addForm)">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" ngModel name="nombre" class="form-control" id="nombre">
                </div>
                <button type="button" (click)="cerrar('add')">Cerrar</button>
                <button [disabled]="addForm.invalid" type="submit"
                    onclick="document.getElementById('id03').style.display='none'">Añadir</button>
            </form>
        </div>
    </div>
    <!-- Edit modal -->
    <div id="id02" class="modal">
        <div class="modal-content" *ngIf="updateCategoria">
            <span (click)="cerrar('edit')" class="close">&times;</span>
            <p>Edita la categoria {{updateCategoria.nombre}}</p>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" [(ngModel)]="updateCategoria.nombre" name="nombre" class="form-control" id="nombre">
                </div>
                <button type="button" (click)="cerrar('edit')">Cerrar</button>
                <button (click)="onUpdateCategoria(updateCategoria)"
                    onclick="document.getElementById('id02').style.display='none'">Editar</button>
            </form>
        </div>
    </div>

    <!-- Delete modal -->
    <div id="id01" class="modal">
        <div class="modal-content" *ngIf="deleteCategoria">
            <span (click)="cerrar('delete')" class="close">&times;</span>
            <p>Seguro que quieres eliminar la categoria {{deleteCategoria.nombre}}</p>
                <button type="button" (click)="cerrar('delete')">Cerrar</button>
                <button (click)="onDeleteCategoria(deleteCategoria.id)" type="submit"
                    onclick="document.getElementById('id01').style.display='none'">Eliminar</button>
        </div>
    </div>
</div>