<div id="categoria-container">
    <div class="cabecera-categoria">
        <h2>Categorias</h2>
        <div id="buscar">
            <input type="search" class="form-control" placeholder="Buscar" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
            id="searchName"/>
        </div>
        <button (click)="abrirModal(null,'add')" class="btn-linea-azul"><i class="fa fa-plus fa-xs"></i></button>

    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let categoria of categorias | orderBy: 'asc':'id'  | paginate: {itemsPerPage: 10, currentPage: page}" id="tbody">
            <td>{{categoria.id}}</td>
            <td>{{categoria.nombre}}</td>
            <td>
                <button (click)="abrirModal(categoria, 'edit')" class="btn-azul-sm">
                    <i class="fa fa-pen fa-xs"></i>
                </button>
            </td>
            <td>
                <button (click)="abrirModal(categoria, 'delete')" class="btn-rojo-sm">
                    <i class="fa fa-trash fa-xs" ></i>
                </button>
            </td>
        </tr>
    </table>
</div>


    <pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior" class="paginator">
    </pagination-controls>

    <!-- Add modal  -->
    <div id="id03" class="modal">
        <div class="modal-content">
            <span (click)="cerrar('add')" class="close">&times;</span>
            <h5>Añadir Categoria</h5>
            <form #addForm="ngForm" (ngSubmit)="onAddCategoria(addForm)">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" ngModel name="nombre" class="form-control" id="nombre">
                </div>
                <button [disabled]="addForm.invalid" type="submit" class="btn-azul"
                    onclick="document.getElementById('id03').style.display='none'">Añadir</button>
            </form>
        </div>
    </div>
    <!-- Edit modal -->
    <div id="id02" class="modal">
        <div class="modal-content" *ngIf="updateCategoria">
            <span (click)="cerrar('edit')" class="close">&times;</span>
            <h5>Editar Categoria: {{updateCategoria.nombre}}</h5>
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" [(ngModel)]="updateCategoria.nombre" name="nombre" class="form-control" id="nombre">
                </div>
                <button (click)="onUpdateCategoria(updateCategoria)" class="btn-azul"
                    onclick="document.getElementById('id02').style.display='none'">Editar</button>
            </form>
        </div>
    </div>

    <!-- Delete modal -->
    <div id="id01" class="modal">
        <div class="modal-content" *ngIf="deleteCategoria">
            <span (click)="cerrar('delete')" class="close">&times;</span>
            <h5>Seguro que quieres eliminar la categoria {{deleteCategoria.nombre}}</h5>
                <button (click)="onDeleteCategoria(deleteCategoria.id)" type="submit" class="btn-rojo"
                    onclick="document.getElementById('id01').style.display='none'">Eliminar</button>
        </div>
    </div>