<div class="categoria-container">
    <div class="cabecera-categoria">
        <h2>Categorias</h2>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let categoria of categorias | paginate: {itemsPerPage: 10, currentPage: page}" id="tbody">
            <td>{{categoria.id}}</td>
            <td>{{categoria.nombre}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior" class="paginator"></pagination-controls>


