.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
label{
    font-weight: bold;
}
input{
    margin-bottom: 15px;
}

textarea{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
}

.mt-sm{
    display: flex;
    justify-content: center;
}
#boton{
    background-color: #007bff;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 50%;
    margin: 20px;
    color: white;
}
#boton:hover{
    background-color: rgb(133, 253, 159);
    border: rgb(49, 49, 49) 1px solid;
    color: black;
}


.form-control {
    border-color: #007bff
}