<div class="producto-container">
    <div class="cabecera-producto">
        <h2>Productos</h2>
        <div id="descarga">
            <button (click)="descargarExcel()" class="btn">Descargar Excel</button>
        </div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let producto of productos" id="tbody">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.stock}}</td>
            <td>{{producto.categoriaNombre}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
