<div id="main-container">
    <nav class="nav">
      <h2 class="nav-titulo"><a routerLink="/">Tienda</a></h2>
        <ul class="nav-router">
          <li>
            <a routerLink="/nosotros">Sobre Nosotros</a>
          </li>
          <li>
            <a routerLink="/pedido/all">Pedidos</a>
          </li>
          <li>
            <a routerLink="/producto/all">Productos</a>
          </li>
          <li>
            <a routerLink="/cliente/all">Clientes</a>
          </li>
          <li>
            <a routerLink="/detallepedido/all">Detalle de Pedidos</a>
          </li>
          <li>
            <a routerLink="/categoria/all">Categorias</a>
          </li>
          <li>
            <a routerLink="/email/enviar">Contactanos</a>
          </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <footer>
      <p>&#169; 2022 Alejandro & Lucía</p>
    </footer>
  </div>
