
<div id="main-container">
    <nav id="nav">
      <img src="../assets/banner.png" alt="...">
        <ul class="nav-router">
          <li>
            <a routerLink="/nosotros">Sobre Nosotros</a>
          </li>
          <li>
            <a routerLink="/pedido/all">Pedidos</a>
          </li>
          <li>
            <a routerLink="/producto/all">Productos</a>
          </li>
          <li>
            <a routerLink="/cliente/all">Clientes</a>
          </li>
          <li>
            <a routerLink="/detallepedido/all">Detalle de Pedidos</a>
          </li>
          <li>
            <a routerLink="/categoria/all">Categorías</a>
          </li>
          <li>
            <a routerLink="/email/enviar">Contáctanos</a>
          </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <footer>
      <p>&#169; 2022 Alejandro & Lucía</p>
    </footer>
  </div>
