<div class="pedido-container">
    <div class="cabecera-pedido">
        <h2>Clientes</h2>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th>Telefono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let cliente of clientes | paginate: {itemsPerPage: 10, currentPage: page}" id="tbody">
            <td>{{cliente.id}}</td>
            <td>{{cliente.dni}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido1}}</td>
            <td>{{cliente.apellido2}}</td>
            <td>{{cliente.telefono}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior" class="paginator"></pagination-controls>


