<div class="sobrenosotros_container">
    <h2>Conócenos un poco más</h2>
    <p>¡Hola! Nosotros somos Alejandro Rodriguez y Lucía Arnedo. Ambos estudiamos en el instituto Sagrado Corazón Jesuitas, aunque cada uno se encuentra en diferentes módulos: Desarrollo de Aplicaciones Multiplataforma y Desarrollo de Aplicaciones Web, respectivamente.</p>
    <br>
    <p>Actualmente, nos encontramos a punto de terminar nuestras prácticas del primer año del curso en la empresa Hiberus, donde hemos aprendido diferentes tecnologías como SpringBoot, Angular, JavaScript, entre otras.</p>
    <br>
    <p>Un saludo cruck!</p>
</div>
