<div class="detallepedido-container">
    <div class="cabecera-detallepedido">
        <h2>Detalles de Pedidos</h2>
        <div id="buscar">
            <input type="search" class="form-control" placeholder="Buscar" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key"
            id="searchName"/>
        </div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>Precio por unidad</th>
            <th>Precio total</th>
            <th>Pedido</th>
            <th>Producto</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr *ngFor="let detallepedido of detallepedidos | paginate: {itemsPerPage: 10, currentPage: page} | orderBy: 'asc':'id'" id="tbody">
            <td>{{detallepedido.id}}</td>
            <td>{{detallepedido.cantidad}}</td>
            <td>{{detallepedido.precio_unidad}}</td>
            <td>{{detallepedido.precio_unidad * detallepedido.cantidad}}</td>
            <td>{{detallepedido.pedidoId}}</td>
            <td>{{detallepedido.productoNombre}}</td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<pagination-controls (pageChange)="page = $event" nextLabel="Siguiente" previousLabel="Anterior" class="paginator"></pagination-controls>


